* {
  text-align: center;
  margin: 20px;
  background-color: gold;
  color: black;
}

input {
  font-size: 2rem;
  color: black;
  border: 3px solid black;
}

p {
  font-size: 1.5rem;
  color: black;
}

textarea {
  text-align: left;
  width: 400px;
  height: 100px;
  color: black;
  border: 3px solid black;
}

select {
  font-size: 1.2rem;
  color: black;
  border: 3px solid black;
}

.radio {
  font-size: 1.4rem;
}

button {
  font-size: 2rem;
}

button:hover {
  color: white;
  background-color: black;
}